.todo-box{
    padding:15px;
    margin: auto;
    border: solid black 1px;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task-div{
    display:flex;
    justify-content: space-between;
    align-items: center;

}